*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
body{
    background-image: url('Fondoo.jpg');
    background-attachment: fixed;
}

h1{
    background:rgb(73, 72, 72) ;
    text-align:center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    position: relative;
    padding: 7px 15px;
}

.form-agg{
    width: 600px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color:white;
    box-shadow: 7px 13px 37px #000;
}

.form-agg h3{
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.form-contro{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
}

.form-agg .button{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.view{
    width: 75%;
    background: #24303c;
    padding: 1px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    font-family: sans-serif;
    color:white;
    font-size: 16px;
}

.view .delete{
    width: 1%px;
    background: firebrick;
    border: none;
    padding: 4px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.view .edit{
    width: 10%px;
    background: #1f53c5;
    border: none;
    padding: 4px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.btn-primary {
    padding: 10px 20px; 
    background-color: #007bff; 
    color: #fff;
    border: none; 
    border-radius: 5px; 
    text-align: center; 
    display: block; 
    margin: 0 auto;
    font-size: 16px; 
    font-weight: bold; 
    text-decoration: none; 
    cursor: pointer; 
  }




.btn-custom {
    background-color: #007bff;
    color: #ffffff;
    border: 1px solid #007bff;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 15px;
}

.btn-custom:hover {
    background-color: #007bff;
    border: 1px solid #007bff;
    color: #ffffff;
}
.form-control{
    width: 8%;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 16px;
}